.btn{
    all: unset;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 222, 243);
    border-radius: 10%;
    border: 3px solid rgb(56, 46, 108);
    font-weight: 600;
    cursor: pointer;
}
img {
    width: 40%;
    user-select: none;
}
#pad_box{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q r s t";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(198, 131, 183), rgb(86, 110, 196));
}
#display1,
#display2{
    width: 350px;
    height: 50px;
    background-color: rgb(255, 255, 255);

    
    
}

#container{
    position: relative;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 370px;
    border-radius: 10px;
    border:3px solid rgb(56, 54, 94);
    background: linear-gradient(rgb(198, 131, 183), rgb(86, 110, 196));
    
}



#btn99 {
    /* = 연산자 */
    grid-area: a;
    text-transform: uppercase;
}

#btn43 {
    /* + 연산자 */
    grid-area: p;
    font-size: 20px;
}

#btn67 {
    /* N 연산자 */
    grid-area: q;
}

#btn98 {
    /* b 연산자 */
    grid-area: c;
}

#btn46 {
    /* . 연산자 */
    grid-area: s;
    font-size: 25px;
}

#btn41 {
    /* CE 연산자 */
    grid-area: b;
}

#btn38 {
    /* / 연산자 */
    grid-area: d;
}

#btn61 {
    /* = 연산자 */
    grid-area: t;
    color: white;
    background-color: rgb(62, 109, 157);
}

#btn45 {
    /* - 연산자 */
    grid-area: l;
    font-size: 30px;
}

#btn120 {
    /* X 연산자 */
    grid-area: h;
    /* ======================================숫자 버튼================================================ */
}

#btn0 {
    grid-area: r;
}

#btn1 {
    grid-area: m;
}

#btn2 {
    grid-area: n;
}

#btn3 {
    grid-area: o;
}

#btn4 {
    grid-area: i;
}

#btn5 {
    grid-area: j;
}

#btn6 {
    grid-area: k;
}

#btn7 {
    grid-area: e;
}

#btn8 {
    grid-area: f;
}

#btn9 {
    grid-area: g;
}