
#history_box{
    visibility: hidden;
    position: absolute;
    background-color: rgb(246, 255, 255);
    height: 440px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    bottom: 60px
    
}
#test{
    display: none;
}
#container:hover #history_box{
    visibility: visible;
    animation: move 0.35s forwards linear;
    transition: 0.35s;
}

#history_box button {
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#delete_button {
    position: absolute;
    color: red;
    line-height: 60px;
    width: 300px;
    right: 50px;

}
@keyframes move{
    from{
        background-color: rgba(255, 255, 255, 0);
        left: 400px;
    }to{
        background-color: rgba(255, 255, 255, 0.5);;
        left: 375px;
        
    }
}
#test{
    width: 600px;
    height: 100px;
    background-color: aquamarine;
}
