#history_box {
    visibility: hidden;
    position: absolute;
    background-color: rgb(246, 255, 255);
    height: 440px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

#test {
    display: none;
}

#container:hover #history_box {
    visibility: visible;
    animation: move 0.35s forwards linear;
    transition: 0.35s;
}

#history_box button {
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#container:hover #delete_button {
    animation: move1 0.35s ease-out forwards;
    
}
.btn_history{
    line-height: 60px;
}

#delete_button {
    position: absolute;
    line-height: 60px;
    width: 300px;
    opacity: 0;
    left:375px;
    top:440px;

    display: flex;
    justify-content: center;
    align-items: center;
    


}

@keyframes move {
    from {
        background-color: rgba(255, 255, 255, 0);
        left: 375px;
    }

    to {
        background-color: rgba(255, 255, 255, 0.5);
        ;
        left: 375px;

    }
}
#delete_button_container img{
    width: 17%;
    height: 30%;
}

#test {
    width: 600px;
    height: 100px;
    background-color: aquamarine;
}

@keyframes move1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}