#history_box{
    visibility: hidden;
    position: absolute;
    background-color: rgb(246, 255, 255);
    height: 505px;
    width: 300px;
    z-index: -3;
    
    
}
#container:hover #history_box{
    visibility: visible;
    z-index: -3;
    animation: move 0.35s forwards linear;
}

#history_box button {
    height: 60px;
    width: 300px;
    cursor: pointer;
}

#history_delete {
    border: 0px;
    height: 40px;
    width: 60px;
    background-color: white;
    background-image: url(./delete_button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    margin-top: 400px;
    margin-left: 930px;

    cursor: pointer;
}
@keyframes move{
    from{
        opacity: 0;
        left: 400px;
    }to{
        opacity: 0.5;
        left: 380px;
        
    }

}